{
	"parser": "@typescript-eslint/parser",
	"plugins": ["solid", "jsx-a11y", "@typescript-eslint", "prettier"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:solid/typescript",
		// prettier should be the last
		"plugin:prettier/recommended"
	],
	"globals": {
		"chrome": true
	},
	"rules": {
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": ["warn"]
	},
	"overrides": [
		{
			"files": ["vite.config.ts"],
			"env": {
				"node": true
			}
		}
	]
}
