{
	"parser": "@typescript-eslint/parser",
	"plugins": ["solid", "jsx-a11y", "prettier"],
	"extends": [
		"eslint:recommended",
		"plugin:solid/typescript",
		// prettier should be the last
		"plugin:prettier/recommended"
	]
}
