$text: rgb(255 255 255);
$text-disabled: rgb(255 255 255 / 80%);
$text-inverted: rgb(0 0 0 / 80%);
$primary: rgb(255 221 45);
$button: $primary;
$button-hovered: rgb(252 197 33);
$border: rgb(18 18 18 / 60%);
$background: rgb(18 18 18 / 70%);
$background-2: rgb(255 255 255 / 6%);
$shadow: rgb(0 0 0 / 10%);
$input: rgb(255 255 255 / 6%);
$block-header: rgb(32 32 32);
