.column {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 8px;

	&.vertical {
		&-flex-start {
			justify-content: flex-start;
		}

		&-center {
			justify-content: center;
		}

		&-flex-end {
			justify-content: flex-end;
		}

		&-space-between {
			justify-content: space-between;
		}

		&-stretch {
			justify-content: stretch;
		}
	}

	&.horizontal {
		&-flex-start {
			align-items: flex-start;
		}

		&-center {
			align-items: center;
		}

		&-flex-end {
			align-items: flex-end;
		}

		&-stretch {
			align-items: stretch;
		}
	}
}

.gap-less {
	gap: 0;
}
