@use '../../styles/variables';
@use '../../styles/mixins';

.input {
	@include mixins.with-placeholder;
	@include mixins.with-placeholder-target;

	&:not(:empty) {
		@include mixins.with-placeholder(true);
	}

	cursor: pointer;
}

.suggestions {
	position: absolute;
	top: -4px;
	background-color: variables.$background-solid;
	width: 100%;
	z-index: 1;

	&-wrapper {
		position: relative;
	}

	&-list {
		display: none;
		width: 100%;
		list-style: none;
		transition: height 300ms;
		max-height: 500px;
		overflow-y: auto;
		box-shadow: 0 10px 5px 0 variables.$shadow-primary;
	}
}

.select {
	flex: 1;
}

.select:focus-within .suggestions-list {
	display: block;
}

.item {
	&:hover {
		background-color: variables.$background-solid-light;
	}

	&-button {
		width: 100%;
		padding: 12px;
		text-align: left;
	}
}
