@use '../styles/variables';
@use '../styles/mixins';

@include mixins.chiller {
	* {
		margin: 0;
		padding: 0;
		@include mixins.scrollbar;
	}
}


.background {
	height: 100%;
	background-position: top right -150px;
	background-attachment: fixed;
	position: fixed;
	inset: 0;
	z-index: -2;
}

.backdrop {
	position: fixed;
	inset: 0;
	background: variables.$background;
	z-index: -1;

	/* From https://css.glass */
	box-shadow: 0 4px 30px variables.$shadow;
	backdrop-filter: blur(20px);
}

.popup {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 500px;
	padding: 8px 10px 32px;
	gap: 4px;
}
