@use '../../../../../../../../common/styles/variables';

.item:not(:last-of-type) {
	margin-bottom: 8px;
}

.title {
	margin-left: 8px;
}

.input {
	flex: 1;
}

.last {
	opacity: 0.5;
	transition: opacity .3s;

	&:focus-within {
		opacity: 1;
	}
}

.mover {
	.arrow {
		color: variables.$primary;
		padding: 4px;
		font-size: 0.85em;
	}
}
