@use '../../common/styles/variables';

* {
	margin: 0;
	padding: 0;
}

.background {
	height: 100%;
	background-position: top right -150px;
	background-attachment: fixed;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.popup {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 500px;
	padding: 8px 16px;
	gap: 8px;

	/* From https://css.glass */
	background: variables.$background;
	box-shadow: 0 4px 30px variables.$shadow;
	backdrop-filter: blur(20px);
}
