@use '../../common/styles/variables';
@use '../../common/styles/mixins';

@include mixins.chiller {
	* {
		margin: 0;
		padding: 0;
	}

	:global(#root) {
		max-height: 500px;
		overflow-y: scroll;
		scrollbar-gutter: stable;

		&::-webkit-scrollbar {
			width: 4px;
			height: 4px;
		}

		&::-webkit-scrollbar-button {
			width: 0;
			height: 0;
		}

		&::-webkit-scrollbar-thumb {
			background: variables.$background-2;
			border: none;
			border-radius: 50px;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
			border:none;
			border-radius: 50px;
		}

		&::-webkit-scrollbar-track:hover {
			background: transparent;
		}

		&::-webkit-scrollbar-track:active {
			background: #333;
		}

		&::-webkit-scrollbar-corner {
			background: transparent;
		}
	}
}


.background {
	height: 100%;
	background-position: top right -150px;
	background-attachment: fixed;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -2;
}

.backdrop {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: variables.$background;
	z-index: -1;

	/* From https://css.glass */
	box-shadow: 0 4px 30px variables.$shadow;
	backdrop-filter: blur(20px);
}

.popup {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 500px;
	padding: 8px 10px;
	gap: 8px;
}
