@use '../../../../../../../styles/variables';

.item:not(:last-of-type) {
	margin-bottom: 8px;
}

.title {
	margin: 0 8px;
}

input.name {
	color: variables.$primary;
	margin-top: 2px;
	font-size: 12px;
	font-weight: 700;
	flex: 1;
}

.input {
	flex: 1;
}

.last {
	opacity: 0.5;
	transition: opacity .3s;

	&:focus-within {
		opacity: 1;
	}
}

.mover {
	.arrow {
		color: variables.$primary;
		padding: 4px;
		font-size: 0.85em;
	}
}

.dragHandle {
	cursor: move;
}
