@use '../../styles/variables';

.button {
	cursor: pointer;
	border: none;
	background-color: variables.$button;
	padding: 8px;
	color: variables.$text-inverted;
	border-radius: 4px;
	transition: background-color .3s;

	&:focus {
		border: none;
		outline: 2px solid variables.$button-outline;
		outline-offset: -4px;
	}

	&:hover:not(.active) {
		background-color: variables.$button-hovered
	}

	&.active {
		cursor: default;
		background-color: transparent;
		color: variables.$button;
		border-radius: 0;
		outline: none;
		border: 2px none;
		border-bottom-style: solid;
	}

	&.light {
		color: variables.$button;
		background-color: transparent;

		&:hover {
			background-color: transparent;
		}

		&:focus {
			outline-color: variables.$button;
		}
	}
}
