@use '../../styles/variables';

.button {
	cursor: pointer;
	border: none;
	background-color: variables.$button;
	padding: 4px 8px;
	color: variables.$text-inverted;
	border-radius: 4px;

	&:focus {
		border: none;
		outline: 2px solid variables.$button-outline;
		outline-offset: -4px;
	}

	&:hover:not(.active) {
		background-color: variables.$button-hovered
	}

	&.active {
		opacity: 0.56;
	}

	&.light {
		color: variables.$button;
		background-color: transparent;

		&:hover {
			background-color: transparent;
		}

		&:focus {
			outline-color: variables.$button;
		}
	}
}
