@use '../../styles/variables';

.button {
	cursor: pointer;
	border: none;
	background-color: variables.$button;
	padding: 8px;
	color: variables.$text-inverted;
	border-radius: 2px;
	transition: background-color .3s;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	&:focus {
		border: none;
		outline: 2px solid variables.$button-outline;
		outline-offset: -4px;
	}

	&:hover:not(.active) {
		background-color: variables.$button-hovered;
	}

	&.active {
		cursor: pointer;
		background-color: variables.$button-active !important;
		color: variables.$text-inverted !important;
		outline: none;

	}

	&.light {
		color: variables.$button;
		background-color: transparent;

		&:focus {
			outline-color: variables.$button;
		}

		&:hover:not(.active) {
			background-color: variables.$button-light-hovered
		}

		&.active:focus {
			outline: 2px solid variables.$button-outline;
		}
	}
}
