@use '../../common/styles/variables';

.overlay {
	position: fixed;
	bottom: 8px;
	right: 8px;
	padding: 8px;
	color: variables.$text;
	font-size: 16px;
	z-index: 2147483647;
	min-width: 200px;
	max-width: 400px;

	/* From https://css.glass */
	background: variables.$background;
	border-radius: 8px;
	box-shadow: 0 4px 30px variables.$shadow;
	backdrop-filter: blur(20px);
}
