@use '../../common/styles/variables';
@use '../../common/styles/mixins';

.positioner {
	position: fixed;
	bottom: 16px;
	right: 16px;
	z-index: 2147483647;
}

.overlay {
	color: variables.$text;
	font-size: 16px;
	min-width: 200px;
	max-width: variables.$content-container-width;

	background: variables.$background;
	border-radius: 8px;
}

.content {
	padding: 8px;
	max-height: 400px;
	overflow: auto;

	transition: max-height .3s, padding .3s;

	@include mixins.scrollbar;
}

.drag {
	cursor: move;
}

.header {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	color: variables.$text;
	cursor: default;
	background: variables.$background-2;
	padding: 6px;
	transition: background-color .3s;

}

.headerIcon {
	height: 1.5em;
	margin-right: 0.5em;
}

.collapsed {
	.header {
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}

	.content {
		padding-top: 0;
		padding-bottom: 0;
		max-height: 0;
	}
}
