.selectorType {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
}

.input {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
}
